.text-align-center{
    text-align: center;
}

.text-align-right{
    text-align: right;
}

.text-align-left{
    text-align: left;
}

.logo
{
    width:300px;
    height:60px;
}

.mt-10
{
    margin-top: 10px;
}

.mr-10
{
    margin-right: 10px;
}

.m-10
{
    margin: 10px;
}

.ml-20
{
    margin-left: 20px;
}

.mt-30
{
    margin-top: 30px;
}

.mt-50
{
    margin-top: 30px;
}

.mt-70
{
    margin-top: 70px;
}

.mb-30
{
    margin-bottom: 30px;
}

.head
{
    background-image: url("Art Board.png");
    background-size: 100% 100%;
    height: 350px;
}

.p-10
{
    padding: 10px;
}

.p-15
{
    padding: 15px;
}

body
{
    font-family: 'Nunito', sans-serif;
    background-color: #d3d3d3;
}

.fa {
    padding: 10px;
    font-size: 40px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: royalblue;
    color: white;
  }

  .center
  {
      align-items: center;
  }

  iframe
  {
      border-color: royalblue;
      border-radius: 5%;
      border-width: 1.5px;
  }

  .Card {
    margin: 78px 10px 0;
    padding: 161px 4.8px 28.6px 14px;
    border-radius: 15px;
    box-shadow: 0 0 6px 0 #e8e8e8;
    background-color: #ffffff;
  }

  .color-orange
  {
      color: #ff7c32;
  }

  .color-dark-blue
  {
      color: #050a4e;
  }

  .color-white
  {
      color: white;
  }

  .color-green
  {
      color: #468950
  }

  .color-black
  {
      background-color: #050a4e;
  }

  .color-grey
  {
      color: #a3a3a3;
  }

  .background-color-grey
  {
      background-color: #d3d3d3;
  }

  input[type=file]
  {
      background-color: #050a4e;
  }

  .w-15
  {
      width: 15%;
      height: auto;
  }

  .w-20
  {
      width: 20%;
      height: auto;
  }

  .w-90
  {
      width: 90%;
      height: auto;
  }